@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  width: 100%;
  height: 100%;
}

.calendar-cell {
  text-align: end;
  padding-right: 2rem;
  padding-top: 2rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: pointer;
}

.calendar-grid:not(:last-child) {
  border-right: none;
}

.calendar-day-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  user-select: none;
  width: 100%;
}

ul.MuiAutocomplete-listbox {
  z-index: 1500 !important;
}
